.Playground {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.sidebar-main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
  overflow: hidden;
}

.Layout {
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
}

.Layout.Layout--vertical {
  flex-direction: column;
}

.Layout.Layout--horizontal {
  flex-direction: row;
}