body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app-preloader {
  display: block;
  position: absolute;
  inset: 0;
  background: #1f1f1f;
  color: #f4f4f4;
  font: 11pt system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
}

.app-preloader__container {
  height: 100%;
  width: 100%;
  max-height: 480px;
  max-width: 320px;
  position: absolute;
  inset: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-preloader__content {
  margin-top: 32px;
}

.app-preloader__content p {
  margin: 2rem;
  text-align: center;
}

@keyframes progress-bar-animation {
  0% {
    left: -2%;
    width: 5%;
  }

  35% {
    width: 25%;
  }

  85% {
    width: 5%;
  }

  100% {
    left: 100%;
    width: 5%;
  }
}

.app-preloader-progress {
  background: #333;
  height: 4px;
  position: relative;
  overflow: hidden;
}

.app-preloader-progress__bar {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s ease-out 0s;
  background: dodgerblue;
  height: 100%;
}

.app-preloader-progress__bar--indeterminate {
  width: 32%;
  transition: all 0.5s ease-out 0s;
  animation: progress-bar-animation 2.3s infinite;
}

@media (prefers-color-scheme: light) {
  .app-preloader {
    background: #fff;
    color: #323130;
  }
  .app-preloader-progress {
    background: #ccc;
  }
}
