@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .ellipsis-text::after {
    @apply inline-block animate-ellipsis content-[''];
  }

  /* ResizablePreview Handle Styles */
  .ResizablePreview--collapsed {
    height: auto !important;
  }

  .ResizablePreview--collapsed:before {
    content: "";
    position: absolute;
    background: var(--pg-handle-default-color);
  }

  .ResizablePreview--collapsed.ResizablePreview--vertical:before {
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
  }

  /* Vertical handle (left) */
  .ResizablePreview__handle--left:before {
    content: "";
    position: absolute;
    background: var(--pg-handle-default-color);
    transition: background-color 0.1s ease-in 0s;
    width: 1px;
    height: 100%;
    top: 0;
    left: 50%;
  }

  .ResizablePreview__handle--left {
    transition: background-color 0.1s ease-in 0s;
  }

  .ResizablePreview__handle--left:hover:before,
  .ResizablePreview__handle--left:active:before {
    background: var(--pg-handle-active-color);
    width: 3px;
  }

  /* Horizontal handle (top) */
  .ResizablePreview__handle--top:before {
    content: "";
    position: absolute;
    background: var(--pg-handle-default-color);
    transition: background-color 0.1s ease-in 0s;
    top: 5px;
    left: 0;
    right: 0;
    height: 1px;
  }

  .ResizablePreview__handle--top {
    transition: background-color 0.1s ease-in 0s;
  }

  .ResizablePreview__handle--top:hover:before,
  .ResizablePreview__handle--top:active:before {
    background: var(--pg-handle-active-color);
    height: 3px;
  }

  /* Touch device styles */
  @media (hover: none), (pointer: coarse) {
    .ResizablePreview__handle--left {
      background: black;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: #999;
    }

    .ResizablePreview__handle--left:hover,
    .ResizablePreview__handle--left:active {
      background: black;
      color: white;
    }

    .ResizablePreview__handle--left:before {
      display: none;
    }

    .ResizablePreview__handle--left:after {
      content: "";
      background: currentColor;
      height: 20%;
      max-height: 80px;
      width: 4px;
      border-radius: 4px;
      align-self: center;
      transition: color 0.15s ease 0s;
    }

    .ResizablePreview__handle--top {
      background: black;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: #999;
    }

    .ResizablePreview__handle--top:hover,
    .ResizablePreview__handle--top:active {
      background: black;
      color: #fff;
    }

    .ResizablePreview__handle--top:before {
      display: none;
    }

    .ResizablePreview__handle--top:after {
      content: "";
      background: currentColor;
      width: 20%;
      max-width: 80px;
      height: 4px;
      border-radius: 4px;
      align-self: center;
      transition: 0.15s ease 0s;
    }
  }
}

@keyframes ellipsis {
  0%   { content: ''; }
  25%  { content: '.'; }
  50%  { content: '..'; }
  75%  { content: '...'; }
  100% { content: ''; }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app-preloader {
  display: block;
  position: absolute;
  inset: 0;
  background: #1f1f1f;
  color: #f4f4f4;
  font: 11pt system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
}

.app-preloader__container {
  height: 100%;
  width: 100%;
  max-height: 480px;
  max-width: 320px;
  position: absolute;
  inset: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-preloader__content {
  margin-top: 32px;
}

.app-preloader__content p {
  margin: 2rem;
  text-align: center;
}

@keyframes progress-bar-animation {
  0% {
    left: -2%;
    width: 5%;
  }

  35% {
    width: 25%;
  }

  85% {
    width: 5%;
  }

  100% {
    left: 100%;
    width: 5%;
  }
}

.app-preloader-progress {
  background: #333;
  height: 4px;
  position: relative;
  overflow: hidden;
}

.app-preloader-progress__bar {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s ease-out 0s;
  background: dodgerblue;
  height: 100%;
}

.app-preloader-progress__bar--indeterminate {
  width: 32%;
  transition: all 0.5s ease-out 0s;
  animation: progress-bar-animation 2.3s infinite;
}

@media (prefers-color-scheme: light) {
  .app-preloader {
    background: #fff;
    color: #323130;
  }
  .app-preloader-progress {
    background: #ccc;
  }
}
